img {
    max-width: 100%;
}

h1 {
    font-weight: bold;
    margin-top: 15px;
    font-size: 2em;
}

h2 {
    font-style: italic;
    margin-top: 10px;
    font-size: 1.5em;
}

ul {
    margin-top: 15px;
    margin-bottom: 15px;
}

p {
    margin-bottom: 15px;
}
